button {
    background-color: #25f0ff00;
    border: none;
    transition: ease-in-out 0.3s;
    font-size: 1.7rem;

}

button:hover {
    color: #25f0ff;
    transition: ease-in-out 0.3s;
    transform: scale(0.93);
    cursor: pointer;
}

.productPageImage {
    width: 25vw;          
  aspect-ratio: 2 / 3;  
  object-fit: cover;     
  object-position: top;
}

.productPageElements {
    display: flex;
}

.productDetails {
    background-color: #fff
}
